# node_modules and environment files
node_modules
.env

# Local overrides (gitignored, safe to reuse)
routes.local.js

# VS Code
settings.json
.vscode

# Local Test Stub
twilio-functions-stub/.env
twilio-functions-stub/node_modules
twilio-functions-stub/package-lock.json